
{{define "__comment__"}}
	// lms.RunTemplate(TemplateFn string, name_of string, g_data map[string]interface{}) string {
	fromName := lms.RunTemplate(tfn, "from_name", mdata)
	fromAddress := lms.RunTemplate(tfn, "from_address", mdata)
	subject := lms.RunTemplate(tfn, "subject", mdata)
	toName := lms.RunTemplate(tfn, "to_name", mdata)
	toAddress := lms.RunTemplate(tfn, "to_address", mdata)
	textBody := lms.RunTemplate(tfn, "text_body", mdata)
	htmlBody := lms.RunTemplate(tfn, "html_body", mdata)



{{end}}

{{define "from_name"}}{{.from_name}}{{end}}

{{define "from_address"}}{{.from_address}}{{end}}

{{define "subject"}}Reset Password for {{.application_name}}{{end}}

{{define "to_name"}}{{.real_name}}{{end}}

{{define "to_address"}}{{.email}}{{end}}

{{define "text_body"}}

{{.real_name}}

Reset password for {{.application_name}}.

To reset your password you will need to cut/paste URL below and enter the token.

	{{.server}}/reset-password.html

and enter the token:

	{{.token}}

in the form.

{{end}}

<h3>{{define "html_body"}}</h3>
<br>
Reset password for {{.application_name}}. <br>
<br>
To reset your password click the link below and enter a new password. <br>
<br>
	<a href="{{.server}}/api/v2/recover-password-pt2?token={{.token}}"> {{.server}}/reset-password.html </a><br>
<br>
and enter the token: <br>
<br>
	{{.token}}
<br>
in the form.<br>
<br>
{{end}}

{{define "password_reset_url"}}/reset-password.html?token={{.token}}{{end}}

