

{{define "__comment__"}}
	// lms.RunTemplate(TemplateFn string, name_of string, g_data map[string]interface{}) string {
	fromName := lms.RunTemplate(tfn, "from_name", mdata)
	fromAddress := lms.RunTemplate(tfn, "from_address", mdata)
	subject := lms.RunTemplate(tfn, "subject", mdata)
	toName := lms.RunTemplate(tfn, "to_name", mdata)
	toAddress := lms.RunTemplate(tfn, "to_address", mdata)
	textBody := lms.RunTemplate(tfn, "text_body", mdata)
	htmlBody := lms.RunTemplate(tfn, "html_body", mdata)
		email.SendEmail("recover_password", "username", un, "email", un, "token", token, "real_name", real_name, "application_name", gCfg.AuthApplicationName)
	mux.Handle("/api/v2/recover-password-pt1", http.HandlerFunc(HandleRecoverPassword_pt1)).Method("GET", "POST")
{{end}}

{{define "from_name"}}{{.from_name}}{{end}}

{{define "from_address"}}{{.from_address}}{{end}}

{{define "subject"}}Password Reset for {{.application_name}}{{end}}

{{define "to_name"}}{{.real_name}}{{end}}

{{define "to_address"}}{{.email}}{{end}}

{{define "text_body"}}

{{.real_name}}

To reset your password for {{.application_name}} you will need to cut/paste:

	{{.server}}/password-reset.html

and enter the token:

	{{.token}}

in the form.   You will be prompted for a new password.

{{end}}

<h3>{{define "html_body"}}</h3>
<br>
To reset your password for {{.application_name}} you will need to click the link below or  cut/paste: <br>
<br>
	<a href="{{.server}}/api/v2/recover-password-pt2?token={{.token}}"> {{.server}}/password-reset.html </a><br>
<br>
and enter the token: <br>
<br>
	{{.token}}
<br>
in the form.   You will be prompted for a new password. <br>
<br>
{{end}}

